@model Easy_Track_MVC.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="form mt-5 mb-3" style="border:solid;border-color:#343a40;width:640px;margin:auto; margin-top:5rem !important;">
    <center>
        <h6 class="text-success">Student Details</h6>
    </center>
    <div class="form-group ">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-12" })

        <div class="col-md-12">
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Bus.BusNum, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.Bus.BusNum, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Parent.Named, "Parent Name", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.Parent.Named, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>
    <center>
        <h6 class="mt-3 mb-3" >
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </h6>
    </center>
</div>







